* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background-color: #686868;
    min-height: 100%;
    border: 20px solid black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    font-size: 4rem;
    border: 2px solid red;
    padding: 50px 0;
}

.main-container {
    border: 2px solid aquamarine;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 100px;
    margin: 0 auto;
    max-width: 1100px;
}

.main-container__controls {
    border: 2px solid blue;
    max-width: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.colorPicker {
    width: 100px;
    height: 100px;
    border: none;
}

.button {
    width: inherit;
    height: 40px;
    border: 2px solid #000000;
    border-radius: 5px;
}

.main-container__drawing-board {
    width: 500px;
    height: 500px;
    border: 2px solid hotpink;
    display: flex;
    flex-direction: column;
}


.row {
    /* height: 30px; */
    /* width: 30px; */
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    flex: 1;
}

.pixel {
    /* height: 30px; */
    /* width: 30px; */
    border: 1px solid rgb(255, 255, 255);
    box-sizing: border-box;
    display: flex;
    flex: 1;
}