* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

html {
    height: 100%;
}

body {
    background-color: #c9c9c9;
    min-height: 100%;
    /* border: 20px solid black; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    font-size: 4rem;
    /* border: 2px solid red; */
    padding: 50px 0;
}

.main-container {
    /* border: 2px solid aquamarine; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 100px;
    margin: 0 auto;
    max-width: 1100px;
}

.main-container__controls {
    /* border: 2px solid blue; */
    max-width: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.colorPicker {
    width: 100px;
    height: 100px;
    /* border: none; */
    border: 2px solid black;
    transition: transform 100ms ease-in-out;
}

.colorPicker:hover {
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0px 0px 5px 1px rgb(0, 0, 0, 0.5);
}

.controlButton {
    width: inherit;
    height: 40px;
    border: 2px solid #000000;
    border-radius: 5px;
    box-shadow: 3px 3px 4px rgba(0,0,0,0.1) inset,
                3px 3px 10px rgba(0,0,0,0.2) inset;
    transition: transform 100ms ease-in-out;
}

.controlButton:hover {
    box-shadow: 3px 3px 4px rgba(0,0,0,0.1),
                3px 3px 10px rgba(0,0,0,0.2);
    transform: scale(1.05);
    background-color: greenyellow;
    cursor: pointer;
}

.controlButton.active {
    background-color: rgb(63, 63, 63);
    border: 2px solid #fff;
    color: #fff;
}

.main-container__drawing-board {
    width: 500px;
    height: 500px;
    /* border: 2px solid hotpink; */
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #000000;
    box-shadow: 0 0 12px 10px rgba(0,0,0,0.2);
}

.row {
    /* border: 1px solid black; */
    box-sizing: border-box;
    display: flex;
    flex: 1;
}

.pixel {
    /* border: 1px solid rgb(255, 255, 255); */
    box-sizing: border-box;
    display: flex;
    flex: 1;
}

@media (max-width: 870px) {
    .main-container {
        gap: 50px;
    }
}

@media (max-width: 810px) {
    .main-container {
        flex-direction: column-reverse;
    }
}

@media (max-width: 570px) {
    .main-container__drawing-board {
        height: 300px;
        width: 300px;
    }
}